---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "header";
@import "search";


// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: Courier New, Courier, Monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #B2B6BD;
$background-color: #282828;
//$background-color: #2E1114;
//$background-color: #5D5C61;
//$background-color: #2b303b;
$brand-color:      #bf6165;
$title-color:	   #739a99;
$heading-color:	   #bf6165;

$grey-color:       #B2B6BD;
//$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

