---
permalink: /infrastructure/
title: Infrastructure
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

<section class="section-title">
<h1>Infrastructure Notes</h1>
<p>Notes on Infrastructure and C2 designs</p>
</section>

<div id="sections">
  {% for section in site.sections %}
    <div class="sections-group">
      {% capture section_name %} {{ section | first }}{% endcapture %}
      <div id="#{{ section_name | slugize }}"></div>
      <p></p>

      <h3 class="section-head">{{ section_name }}</h3>
      <a name="{{ section_name | slugize }}"></a>
      {% for post in site.sections[section_name] %}
      <article class="section-item">
        <h4><a href="{{ site.baseurl }} {{ post.url }}">{{ post.title }}</a></h4>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="section-body">
	<div id="section-list">
	  <h3>C2 Designs</h3>
		{% for post in site.categories.C2 %}
		 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
  </div>
  
<div class="section-body">
	<div id="section-list">
	  <h3>Infrastructure Designs</h3>
		{% for post in site.categories.inf %}
		 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>