---
permalink: /sections/
title: Sections
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

<section class="section-title">
<h1>Knowledge Base Topics</h1>
<p>A listing of topics within the Knowledge Base</p>
</section>

<div id="sections">
  {% for section in site.sections %}
    <div class="sections-group">
      {% capture section_name %} {{ section | first }}{% endcapture %}
      <div id="#{{ section_name | slugize }}"></div>
      <p></p>

      <h3 class="section-head">{{ section_name }}</h3>
      <a name="{{ section_name | slugize }}"></a>
      {% for post in site.sections[section_name] %}
      <article class="section-item">
        <h4><a href="{{ site.baseurl }} {{ post.url }}">{{ post.title }}</a></h4>
      </article>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<div class="section-body">
	<div id="section-list">
	  <h3>Exfiltration</h3>
		{% for post in site.categories.Exfiltration %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

	<div id="section-list">
	  <h3>Lateral Movement</h3>
		{% for post in site.categories.LateralMovement %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

	<div id="section-list">
	  <h3>Initial Compromise</h3>
		{% for post in site.categories.InitialCompromise %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

	<div id="section-list">
	  <h3>Persistence</h3>
		{% for post in site.categories.Persistence %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

	<div id="section-list">
	  <h3>Indicators of Compromise</h3>
		{% for post in site.categories.IOC %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

	<div id="section-list">
	  <h3>Privilege Escalation</h3>
		{% for post in site.categories.PrivilegeEscalation %}
		 <li><span>{{ date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</div>

</div>
